@import url("http://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
  padding-top: 5rem;
}

.section-outer {
  padding: 0 1.25rem;
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
}
.section-inner--wide {
  max-width: 1200px;
}

.vertical-indent--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.vertical-indent--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.vertical-indent--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 991px) {
  .vertical-indent--m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .vertical-indent--l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 575px) {
  .vertical-indent--m {
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .vertical-indent--l {
    padding-top: 2.5rem;
    padding-bottom: .vertical-indent--l 2.5rem;
  }
}

.input {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  border: 1px solid transparent;
  background: #efeff7;
  color: #7a85ad;
  border-radius: 0.125rem;
}
.input--size-lg {
  padding: 1.25rem 1.5rem;
  border-radius: 0.25rem;
}

.btn {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  font-size: 0.75rem;
  text-decoration: none;
  margin: 0;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  white-space: nowrap;
  background: none;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: 0.2s;
}
.btn--size-lg {
  padding: 1.25rem 3.75rem;
  border-radius: 0.25rem;
}
.btn--primary {
  background-color: #d2e1ff;
  color: #3a79ff;
}
.btn--primary:hover {
  background-color: #b9d0ff;
}
.btn--danger {
  background-color: #ffd7d7;
  color: #d43f3f;
}
.btn--danger:hover {
  background-color: #b9d0ff;
}
.btn--secondary {
  color: #fff;
  background-color: #4c85ff;
}
.btn--secondary:hover {
  background-color: #3374ff;
}
.btn--secondary-inverted {
  color: #565f82;
  background-color: #fff;
}
.btn--secondary-inverted:hover {
  background-color: #f2f2f2;
}
.btn--grayscale {
  color: #7382a3;
  background-color: #e8ecf4;
}
.btn--grayscale:hover {
  background-color: #3374ff;
}
.btn--no--bg {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}
.btn--no--bg:hover {
  color: #8c96c0;
  border: 1px solid #b1b1d1;
}
.btn--no--bg-inverted {
  color: #c7d3ff;
  border-color: #a0b4ff;
}
.btn--no--bg-inverted:hover {
  color: #fafbff;
  border-color: #87a0ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-size: 10px;
  text-transform: uppercase;
  color: #3d4f9f;
}

.section-subtitle {
  margin-bottom: 1.75rem;
  font-size: 48px;
}

.ta-c {
  text-align: center;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.dots__item {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d1d6e3;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.dots__item--active {
  background-color: #5283ff;
}
.dots__item + .dots__item {
  margin-left: 0.75rem;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}
.section-header::before {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
}
.section-header--active-nav::before {
  display: block;
}
.section-header--active-nav .main-navigation__inner-wrap {
  display: flex !important;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__inner-wrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 4.5rem;
}
@media (max-width: 991px) {
  .section-header .main-navigation__inner-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 10;
    left: 0;
    margin-left: 0;
    padding: 1.25rem;
    background-color: #fff;
  }
}
@media (max-width: 991px) {
  .main-navigation__inner-wrap {
    flex-direction: column;
  }
  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .nav {
    margin-bottom: 1rem;
  }
  .main-navigation__inner-wrap,
  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .btn-wrapper {
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .section-footer .main-navigation {
    flex-direction: column;
  }
  .section-footer .main-navigation .logo {
    margin-bottom: 1rem;
  }
}

.btn-burger {
  display: none;
  margin-left: auto;
}
.btn-burger__line {
  display: block;
  height: 0.125rem;
  width: 1rem;
  background-color: #adb4d2;
}
.btn-burger__line + .btn-burger__line {
  margin-top: 0.25rem;
}
@media (max-width: 991px) {
  .btn-burger {
    display: block;
  }
}

.logo__link {
  display: block;
  background-color: #5e81fe;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 2.5rem;
}
@media (max-width: 575px) {
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 0;
  }
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  color: #697ca6;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #5e81fe;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188ff;
}
@media (max-width: 575px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .nav-wrapper__item {
    margin: 0;
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 2.5rem;
}
.socials-wrapper__item-link path {
  fill: #697ca6;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 2.75rem;
}

.section-hero-image {
  position: relative;
  padding: 0;
}

.dots {
  position: absolute;
  bottom: 28px !important;
  margin-bottom: 1.75rem;
  transform: translate(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  height: 35rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}
.slider-hero-image__item-content .section-subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  max-width: 60%;
  margin: 0 auto 1.25rem;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 3rem rgba(201, 209, 231, 0.6);
}
.icon-play svg {
  width: 0.75rem;
  height: 0.75rem;
}
.icon-play::before {
  display: block;
  width: 0;
  height: 0;
  margin-left: 1rem;
  content: "";
  border-width: 0.5rem 0.75rem;
  border-color: transparent;
  border-style: solid;
  border-left-color: #5e81ff;
}

.section-customers .section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-customers .section-inner a {
  opacity: 0.3;
  transition: 0.2s;
}
.section-customers .section-inner a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .section-customers .section-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-customers .section-inner a {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    flex-basis: 45%;
    text-align: center;
  }
}

.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;
}
.section-plan-and-manage__content {
  width: 60%;
}
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content .section-subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.section-plan-and-manage__content .section-subtitle span {
  font-weight: 500;
}
.section-plan-and-manage__content .text {
  line-height: 2;
  margin-bottom: 3rem;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 0.25rem;
}
@media (min-width: 992px) {
  .section-plan-and-manage__content {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .section-plan-and-manage__content {
    width: 70%;
  }
  .section-plan-and-manage__content .aside-image {
    left: 40%;
  }
}

.section-features {
  background: url(../img/features.svg) no-repeat 50% 50%;
}
.section-features .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}
.section-features h4 {
  font-weight: 500;
}
.section-features .btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 0 6.25rem;
  text-align: center;
}
.features-list__item {
  position: relative;
  flex-basis: 25%;
}
.features-list__item:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 575px) {
  .features-list__item:not(:first-child) {
    margin-left: 0;
    margin-bottom: 40px;
  }
}
.features-list__item:not(:first-child)::before {
  position: absolute;
  top: 7.5rem;
  left: -34px;
  width: 1.75rem;
  height: 1px;
  content: "";
  background-color: #dae4fe;
}
.features-list__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 auto 2rem;
  background-color: #f1f5ff;
  border-radius: 100%;
}
.features-list__item-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #4074f8;
}
.features-list__item-text {
  line-height: 2;
}
@media (max-width: 575px) {
  .features-list__item {
    flex-basis: 45%;
  }
}
.features-list__item::before {
  display: none;
}
.features-list__item-icon {
  margin-bottom: 1rem;
}
.features-list__item-title {
  margin-bottom: 0.75rem;
}
@media (max-width: 991px) {
  .features-list {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 575px) {
  .features-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1.25rem;
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.or-block::before, .or-block::after {
  display: block;
  width: 1rem;
  height: 1px;
  content: "";
  background-color: #dae4fe;
}
.or-block::before {
  margin-right: 1rem;
}
.or-block::after {
  margin-left: 1rem;
}

.section-stats {
  background-color: #e9efff;
  padding: 0;
  display: flex;
}
.section-stats__icon {
  margin-bottom: 1.5rem;
}
.section-stats__number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 3rem;
}
.section-stats__text {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .section-stats__text {
    width: 40%;
  }
}
.section-stats__left, .section-stats__right {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 4rem 5.5rem;
}
.section-stats__left {
  color: #fff;
  text-align: right;
  background-color: #6888ff;
  align-items: flex-end;
}
.section-stats__right {
  color: #5e80ff;
}
@media (max-width: 575px) {
  .section-stats__left, .section-stats__right {
    padding: 2rem 2.5rem;
  }
}

.section-blog {
  background-color: #f5f8ff;
}
.section-blog .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}
.section-blog .vertical-indent {
  position: relative;
}

.slider-wrapper {
  margin-bottom: 6.25rem;
  position: relative;
}
@media (max-width: 991px) {
  .slider-wrapper {
    margin-bottom: 3.75rem;
  }
}

.slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0 0.75rem 3rem #eff4ff;
}
.slider-blog-container {
  padding: 0 20px;
}
.slider-blog-wrapper {
  padding: 0;
}
.slider-blog__item {
  display: flex !important;
  justify-content: space-between;
  padding: 2rem 24px;
  max-width: 95%;
}
.slider-blog__item-gallery {
  width: calc(50% - 26px);
  display: grid;
  grid-template-columns: repeat(2, 7.5rem);
  grid-template-rows: repeat(2, 7.5rem);
  grid-gap: 1rem;
}
@media (max-width: 767px) {
  .slider-blog__item-gallery {
    width: 90%;
  }
}
.slider-blog__item-gallery .image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 1rem 6.25rem #e5ebf8;
}
.slider-blog__item-gallery .image-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4rem;
  height: 4rem;
  background: #fff url(../img/loupe.svg) no-repeat 50% 50%;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, -50%);
}
.slider-blog__item-gallery .image-link:hover::after {
  opacity: 1;
}
.slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-blog__item-gallery .image-link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.7;
}
.slider-blog__item-gallery .image-link--b {
  grid-row: 1/3;
  grid-column: 1/3;
}
.slider-blog__item-gallery .image-link--b::before {
  background: linear-gradient(transparent, #ffc735);
}
.slider-blog__item-gallery .image-link--s-1 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.slider-blog__item-gallery .image-link--s-1::before {
  background: linear-gradient(transparent, #ff3535);
}
.slider-blog__item-gallery .image-link--s-2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.slider-blog__item-gallery .image-link--s-2::before {
  background: linear-gradient(transparent, #35aaff);
}
@media (max-width: 991px) {
  .slider-blog__item-gallery {
    grid-template-rows: repeat(2, 6.25rem);
    grid-template-columns: repeat(3, 6.25rem);
    grid-gap: 0.5rem;
  }
}
@media (max-width: 480px) {
  .slider-blog__item-gallery {
    grid-template-rows: repeat(2, 45%);
    grid-template-columns: repeat(3, 30%);
  }
}
.slider-blog__item-content {
  width: calc(50% - 26px);
  flex-grow: 1;
  margin-left: 1.25rem;
}
@media (max-width: 767px) {
  .slider-blog__item-content {
    width: 90%;
  }
}
.slider-blog__item-content h3 {
  margin-bottom: 1.75rem;
  font-size: 36px;
  color: #3d4f9f;
}
.slider-blog__item-content .text {
  margin-bottom: 2.5rem;
  font-size: 0.9375rem;
  line-height: 2;
}
@media (max-width: 767px) {
  .slider-blog__item {
    flex-direction: column;
    padding: 20px;
  }
  .slider-blog__item-content {
    position: relative;
    z-index: 5;
    margin-top: 1.5rem;
    margin-left: 0;
  }
  .slider-blog__item-content h3 {
    margin-bottom: 0.75rem;
  }
}
.slider-blog .swiper-button-prev {
  left: -50px;
  top: 55%;
}
@media (max-width: 1024px) {
  .slider-blog .swiper-button-prev {
    left: 0;
  }
}
.slider-blog .swiper-button-next {
  right: -50px;
  top: 55%;
}
@media (max-width: 1024px) {
  .slider-blog .swiper-button-next {
    right: 0;
  }
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/strelka.svg) no-repeat 50%, 50%;
}

.section-quotes {
  background-color: linear-gradient #eaebff, #f6f9ff;
  overflow: hidden;
}
.section-quotes .swiper-pagination {
  position: relative;
  margin-top: 40px;
  margin-left: -10px;
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes .section-inner .section-subtitle {
  font-size: 36px;
  font-weight: 500;
}
@media (max-width: 575px) {
  .section-quotes .section-inner {
    flex-direction: column;
  }
}
.section-quotes__left, .section-quotes__right {
  width: 45%;
}
@media (max-width: 1200px) {
  .section-quotes__left, .section-quotes__right {
    width: 100%;
  }
}
.section-quotes__left .text {
  line-height: 2;
}
@media (max-width: 767px) {
  .section-quotes__left {
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .section-quotes__left {
    margin-bottom: 30px;
  }
}

.slider-quotes-container {
  width: 50vw;
  margin: -50px 0 40px -50px !important;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .slider-quotes-container {
    width: 100vw;
    margin-top: 0;
  }
}

.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.slider-quotes__item {
  min-width: 25vw;
  padding: 3rem;
  opacity: 0.5;
  box-sizing: border-box;
  transition: opacity 0.2s;
}
.slider-quotes__item.swiper-slide-active {
  opacity: 1;
}
@media (max-width: 1200px) {
  .slider-quotes__item {
    min-width: 50vw;
  }
}
@media (max-width: 575px) {
  .slider-quotes__item {
    min-width: 100vw;
  }
}

.slider-quotes-item-content {
  position: relative;
  padding: 2.5rem 4.25rem 3.75rem;
  background-color: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0 0.25rem 3rem #d2d5dc;
}
.slider-quotes-item-content__text {
  font-size: 0.9375rem;
  line-height: 2;
  color: #676f95;
}
.slider-quotes-item-content__photo {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3.75rem;
  overflow: hidden;
  border-radius: 100%;
  background-color: #fff;
  transform: translate(-50%, -1.875rem);
}

.section-faq .section-inner .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-accordion__item {
  border-bottom: 1px solid #d8e3fe;
}
.faq-accordion__item--active .arrow {
  stroke: #495274;
}
.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(0);
}
.faq-accordion__item--active .faq-accordion__item-trigger-text {
  font-weight: 700;
  color: #8d96bd;
}
.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}
@media (max-width: 575px) {
  .faq-accordion__item--active {
    flex-direction: column;
  }
  .faq-accordion__item--active-text {
    margin-bottom: 10px;
  }
  .faq-accordion__item--active-btn {
    margin-left: 0;
  }
}
.faq-accordion__item-trigger {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}
.faq-accordion__item-trigger-icon {
  width: 1rem;
  text-align: center;
  margin-right: 1rem;
  transform: rotate(180deg);
}
.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}
.faq-accordion__item-trigger-text {
  font-size: 0.9375rem;
}
.faq-accordion__item-content {
  display: none;
  padding: 0 1rem 1rem 3rem;
}
.faq-accordion__item-content-text {
  flex-grow: 1;
  font-size: 0.9375rem;
  line-height: 2;
}
.faq-accordion__item-content-btn {
  margin-left: 3.75rem;
}
@media (max-width: 575px) {
  .faq-accordion__item-content {
    flex-direction: column;
  }
  .faq-accordion__item-content-text {
    margin-bottom: 0.5rem;
  }
  .faq-accordion__item-content-btn {
    margin-left: 0;
  }
}

.section-get-started {
  color: #fff;
  position: relative;
  text-align: center;
  background: linear-gradient(#6888ff, #5e80ff);
}
.section-get-started::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: url(../img/clouds.svg) no-repeat 50% 50%;
  content: "";
}
.section-get-started .section-inner {
  position: relative;
  z-index: 10;
}
.section-get-started .section-inner h2 {
  color: white;
}
.section-get-started .section-inner .section-subtitle {
  font-weight: 300;
  color: #fff;
}
.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}
.section-get-started .section-inner .text {
  margin: 0 auto 2.5rem;
  line-height: 2;
}
@media (min-width: 576px) {
  .section-get-started .section-inner .text {
    max-width: 60%;
  }
}

.section-newsletter {
  background-color: #fcfdff;
}
.section-newsletter .section-inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .section-newsletter .section-inner {
    flex-direction: column;
  }
}
.section-newsletter__left {
  flex-basis: 35%;
}
.section-newsletter__left-title {
  font-family: "Quicksand", sans-serif;
  text-transform: none;
  font-size: 24px;
  font-weight: 700;
  color: #3d4f9f;
  margin-bottom: 1rem;
}
.section-newsletter__left-text {
  font-size: 0.9375rem;
  line-height: 2;
}
@media (max-width: 991px) {
  .section-newsletter__left {
    margin-bottom: 1.25rem;
  }
}
.section-newsletter__right {
  flex-basis: 55%;
}

.form-newsletter {
  display: flex;
}
.form-newsletter__input {
  flex-grow: 1;
}
.form-newsletter__btn {
  margin-left: 0.75rem;
}

.section-footer {
  border-bottom: 0;
}
.copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 1.75rem;
  margin-left: 6rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #aeb8d0;
}
@media (max-width: 991px) {
  .copyright {
    margin-left: 0;
    text-align: center;
  }
}