@import url('http://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// ===Mixin===
@mixin roboto {
   font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
   font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
   margin: 0;
   padding: 0;
   list-style: none;
}

// === / Mixin ===

// === Function ===
@function strip-unit($num) {
   @return $num / ($num * 0 + 1);
}

@function rem($num) {
   @return (strip-unit($num) / 16) * 1rem;
}

// === / Function ===

// === Variables ===
//$breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: rem(12px);
$fs-md: rem(15px);
$fs-lg: rem(18px);
$fs-xl: rem(48px);

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: .2s;

$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;
// === / Variables ===

// === Common ===
//html {
// @media (max-width: $breakpoint-md-max) {
//  font-size: 14px;
//}
//  @media (max-width: $breakpoint-sm-max) {
//     font-size: 10px;
//}
//}

body {
   @include roboto;

   color: #8d96bd;
   padding-top: $base*20;
}

.section-outer {
   padding: 0 $base*5;
   border-bottom: 1px solid $color-divider;
}

.section-inner {
   max-width: 900px;
   margin: 0 auto;
   //padding-top: $padding-vertical;
   //padding-bottom: $padding-vertical;

   &--wide {
      max-width: 1200px;
   }
}

.vertical-indent {
   &--s {
      padding-top: $base * 5;
      padding-bottom: $base * 5;
   }

   &--m {
      padding-top: $base * 15;
      padding-bottom: $base * 15;
   }

   &--l {
      padding-top: $base * 30;
      padding-bottom: $base * 30;
   }

   @media (max-width: $breakpoint-md-max) {
      &--m {
         padding-top: $base * 10;
         padding-bottom: $base * 10;
      }

      &--l {
         padding-top: $base * 20;
         padding-bottom: $base * 20;
      }
   }

   @media (max-width: $breakpoint-xs-max) {
      &--m {
         padding-left: $base * 5;
         padding-bottom: $base * 5;
      }

      &--l {
         padding-top: $base * 10;
         padding-bottom: &$base *10;
      }
   }
}

.input {
   padding: $base * 3 $base * 4;
   font-size: $fs-sm;
   border: 1px solid transparent;
   background: #efeff7;
   color: #7a85ad;
   border-radius: $base/2;

   &--size-lg {
      padding: $base*5 $base*6;
      border-radius: $base;
   }
}

.btn {
   @include quicksand;

   box-sizing: border-box;
   display: inline-block;
   font-weight: $fw-bold;
   font-size: $fs-sm;
   text-decoration: none;
   margin: 0;
   padding: $base * 3 $base * 4;
   border: 1px solid transparent;
   white-space: nowrap;
   background: none;
   border-radius: $base/2;
   cursor: pointer;
   transition: $transition;

   &--size-lg {
      padding: $base*5 $base*15;
      border-radius: $base;
   }

   &--primary {
      background-color: #d2e1ff;
      color: #3a79ff;

      &:hover {
         background-color: darken(#d2e1ff, 5%);
      }
   }

   &--danger {
      background-color: #ffd7d7;
      color: #d43f3f;

      &:hover {
         background-color: darken(#d2e1ff, 5%);
      }
   }



   &--secondary {
      color: #fff;
      background-color: #4c85ff;

      &:hover {
         background-color: darken(#4c85ff, 5%);
      }

      &-inverted {
         color: #565f82;
         background-color: #fff;

         &:hover {
            background-color: darken(#fff, 5%);
         }
      }
   }

   &--grayscale {
      color: #7382a3;
      background-color: #e8ecf4;

      &:hover {
         background-color: darken(#4c85ff, 5%);
      }
   }

   &--no--bg {
      color: #adb4d2;
      border: 1px solid #d1d1e4;

      &:hover {
         color: darken(#adb4d2, 10%);
         border: 1px solid darken(#d1d1e4, 10%);
      }

      &-inverted {
         color: #c7d3ff;
         border-color: #a0b4ff;

         &:hover {
            color: lighten(#c7d3ff, 10%);
            border-color: darken(#a0b4ff, 5%);
         }
      }
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @include quicksand;

   padding: 0;
   margin: 0;
   font-weight: $fw-regular;
}


h2 {
   @include roboto;

   margin-bottom: $base * 4;
   font-size: 10px;
   text-transform: uppercase;
   color: #3d4f9f;
}

.section-subtitle {
   margin-bottom: $base * 7;
   font-size: 48px;
}

.ta-c {
   text-align: center;
}

.dots {
   @include list-null();

   display: flex;
   justify-content: center;

   &__item {
      width: $base * 2;
      height: $base * 2;
      background-color: #d1d6e3;
      border-radius: 100%;
      cursor: pointer;
      transition: $transition;

      &--active {
         background-color: #5283ff;
      }

      &+& {
         margin-left: $base * 3;
      }

   }
}

.btn-group {
   display: inline-flex;

   .btn:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }

   .btn:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
   }
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}


// === / Common ===

// === Header ===
.section-header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 10;
   background-color: #fff;

   &::before {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .5);
      content: '';
   }

   &--active-nav {
      &::before {
         display: block;
      }

      .main-navigation__inner-wrap {
         display: flex !important;
      }
   }
}

.main-navigation {
   display: flex;
   align-items: center;

   &__inner-wrap {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-left: $base * 18;

      .section-header & {
         @media (max-width:$breakpoint-md-max) {
            position: absolute;
            top: 100%;
            right: 0;
            display: none;
            z-index: 10;
            left: 0;
            margin-left: 0;
            padding: $base * 5;
            background-color: #fff;
         }
      }

      @media (max-width:$breakpoint-md-max) {
         flex-direction: column;

         .socials,
         .nav {
            margin-bottom: $base * 4;
         }

         &,
         .socials,
         .btn-wrapper {
            margin-top: 0;
            //margin-top: $base*4;
            margin-left: 0;
         }
      }
   }

   @media (max-width:$breakpoint-md-max) {
      .section-footer & {
         flex-direction: column;

         .logo {
            margin-bottom: $base * 4;
         }
      }
   }
}


.btn-burger {
   display: none;
   margin-left: auto;

   &__line {
      display: block;
      height: $base/2;
      width: $base * 4;
      background-color: #adb4d2;

      &+& {
         margin-top: $base;
      }
   }

   @media (max-width: $breakpoint-md-max) {
      display: block;
   }
}

.logo {

   &__link {
      display: block;
      background-color: #5e81fe;
      width: $base * 6;
      height: $base * 6;
      border-radius: 100%;
   }
}

.nav {}

.nav-wrapper {
   @include list-null();

   display: flex;

   &__item {
      &+& {
         margin-left: $base * 10;

         @media (max-width: $breakpoint-xs-max) {
            margin-left: 0;
         }
      }

      &-link {
         @include quicksand;

         font-size: $fs-sm;
         color: $color-primary;
         font-weight: $fw-medium;
         text-decoration: none;
         transition: $transition;

         &:hover {
            color: #5e81fe;
         }

         &--active {
            font-weight: $fw-bold;
            color: $color-secondary;
         }
      }
   }

   @media (max-width: $breakpoint-xs-max) {
      flex-direction: column;
      align-items: center;

      &__item {
         margin: 0;
      }
   }
}

.socials {
   margin-left: auto;
}

.socials-wrapper {
   @include list-null();

   display: flex;
   align-items: center;

   &__item {
      &+& {
         margin-left: $base * 10;
      }

      &-link {
         path {
            fill: $color-primary;
            transition: $transition;
         }

         &:hover {
            path {
               fill: $color-secondary;
            }
         }
      }
   }
}

.btn-wrapper {
   margin-left: $base * 11;
}


// === / Header ===

// === Hero-image ===
.section-hero-image {
   position: relative;
   padding: 0;
   // background-color: #f4f7ff;
}

.dots {
   position: absolute;
   bottom: 28px !important;
   margin-bottom: $base * 7;
   // left: 50% !important;
   transform: translate(-50%);
}

.slider-hero-image {
   @include list-null();

   // height: $base * 140;
   // overflow: hidden;

   &__item {
      height: $base * 140;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: cover;

      &-content {
         .section-subtitle {
            @include quicksand();
            font-weight: $fw-light;

            span {
               font-weight: $fw-medium;
            }
         }

         .text {
            max-width: 60%;
            margin: 0 auto $base*5;
            line-height: 2;
         }

      }
   }
}

.icon-play {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: $base * 13;
   height: $base * 13;
   background-color: #fff;
   border-radius: 100%;
   box-shadow: 0 $base*2 $base*12 rgba(#c9d1e7, .6);

   svg {
      width: $base * 3;
      height: $base * 3;
   }

   &::before {
      display: block;
      width: 0;
      height: 0;
      margin-left: $base * 4;
      content: '';
      border-width: $base*2 $base*3;
      border-color: transparent;
      border-style: solid;
      border-left-color: #5e81ff;
   }
}

// === / Hero-image ===

// === Customers ===
.section-customers {
   .section-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
         opacity: .3;
         transition: $transition;

         &:hover {
            opacity: 1;
         }
      }

      @media (max-width:$breakpoint-sm-max) {
         flex-wrap: wrap;
         justify-content: center;

         a {
            margin-top: $base * 3;
            margin-bottom: $base * 3;
            flex-basis: 45%;
            text-align: center;
         }
      }
   }
}

// === / Customers ===

// === Plan-and-manage ===
.section-plan-and-manage {
   position: relative;
   overflow: hidden;
   background-color: #f5f8ff;



   &__content {
      width: 60%;


      .aside-image {
         position: absolute;
         top: 0;
         left: 50%;

      }

      .section-subtitle {
         @include quicksand();

         font-weight: $fw-light;

         span {
            font-weight: $fw-medium;
         }
      }


      .text {
         line-height: 2;
         margin-bottom: $base * 12;
      }

      .btn-group {
         svg {
            margin-left: $base;
         }
      }

      @media (min-width: $breakpoint-lg-min) {
         width: 50%;
      }

      @media (max-width: $breakpoint-xs-max) {
         width: 70%;

         .aside-image {
            left: 40%;
         }
      }
   }
}

// === / Plan-and-manage ===

// === features ===
.section-features {
   background: url(../img/features.svg) no-repeat 50% 50%;


   .section-subtitle {
      font-size: 24px;
      font-weight: $fw-medium;
   }

   h4 {
      font-weight: $fw-medium;
   }

   .btns {
      display: flex;
      justify-content: center;
      margin: 0 auto;
   }
}

.features-list {
   @include list-null();

   display: flex;
   margin: 0 0 $base *25;
   text-align: center;

   &__item {
      position: relative;
      flex-basis: 25%;

      &:not(:first-child) {
         margin-left: 40px;

         @media (max-width: $breakpoint-xs-max) {
            margin-left: 0;
            margin-bottom: 40px;
         }
      }

      &:not(:first-child)::before {
         position: absolute;
         top: $base*30;
         left: -34px;
         width: $base*7;
         height: 1px;
         content: '';
         background-color: #dae4fe;
      }

      &-icon {
         display: flex;
         align-items: center;
         justify-content: center;
         width: $base * 17;
         height: $base * 17;
         margin: 0 auto $base * 8;
         background-color: #f1f5ff;
         border-radius: 100%;
      }

      &-title {
         @include roboto;

         margin-bottom: $base * 7;
         font-size: $fs-md;
         font-weight: $fw-bold;
         color: #4074f8;

      }

      &-text {
         line-height: 2;
      }

      @media (max-width: $breakpoint-xs-max) {
         flex-basis: 45%;
      }

      &::before {
         display: none;
      }

      &-icon {
         margin-bottom: $base*4;
      }

      &-title {
         margin-bottom: $base*3;
      }
   }

   @media (max-width: $breakpoint-md-max) {
      margin-bottom: $base * 15;
   }

   @media (max-width: $breakpoint-xs-max) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: $base*5;
   }
}

.or-block {
   display: inline-flex;
   align-items: center;
   margin: 0 $base * 4;
   font-size: $fs-sm;
   font-weight: $fw-medium;
   line-height: $base*10;


   &::before,
   &::after {
      display: block;
      width: $base*4;
      height: 1px;
      content: '';
      background-color: #dae4fe;
   }

   &::before {
      margin-right: $base * 4;
   }

   &::after {
      margin-left: $base * 4;
   }

}


// === Stats ===
.section-stats {
   background-color: #e9efff;
   padding: 0;
   display: flex;

   &__icon {
      margin-bottom: $base * 6;
   }

   &__number {
      @include quicksand();

      margin-bottom: $base * 7;
      font-size: $fs-xl;
   }

   &__text {
      @include quicksand();

      font-size: $fs-lg;
      line-height: 1.5;

      @media (min-width: $breakpoint-lg-min) {
         width: 40%;
      }
   }

   &__left,
   &__right {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      padding: $base*16 $base*22;
   }

   &__left {
      color: #fff;
      text-align: right;
      background-color: #6888ff;
      align-items: flex-end;

   }

   &__right {
      color: #5e80ff;
   }

   @media (max-width: $breakpoint-xs-max) {

      &__left,
      &__right {
         padding: $base*8 $base*10;
      }
   }
}

// === / Stats ===


// === Blog ===
.section-blog {
   background-color: #f5f8ff;

   .section-subtitle {
      font-size: 24px;
      font-weight: $fw-medium ;
   }

   .vertical-indent {
      position: relative;
   }
}

//.section-inner {
// position: relative;
//}

.slider-wrapper {
   margin-bottom: $base*25;
   position: relative;

   @media (max-width: $breakpoint-md-max) {
      margin-bottom: $base * 15;
   }
}

.slider-blog {
   @include list-null();

   background-color: #fff;
   border: 1px solid #d8e3fe;
   box-shadow: 0 $base*3 $base*12 #eff4ff;

   &-container {
      padding: 0 20px;
   }

   &-wrapper {
      padding: 0;
   }

   &__item {
      display: flex !important;
      justify-content: space-between;
      padding: $base *8 24px;
      max-width: 95%;

      //&-content {
      // flex-grow: 1;
      //margin-left: $base*10;
      //}


      &-gallery {
         width: calc(50% - 26px);
         display: grid;
         grid-template-columns: repeat(2, $base*30);
         grid-template-rows: repeat(2, $base*30);
         grid-gap: $base*4;
         //width: 100%;

         @media (max-width: 767px) {
            width: 90%;
         }

         .image-link {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: $base;
            box-shadow: 0 $base*4 $base*25 #e5ebf8;

            &::after {
               content: '';
               position: absolute;
               top: 50%;
               left: 50%;
               display: block;
               width: $base * 16;
               height: $base * 16;
               background: #fff url(../img/loupe.svg) no-repeat 50% 50%;
               border-radius: 100%;
               opacity: 0;
               transition: $transition;
               transform: translate(-50%, -50%);
            }


            &:hover::after {
               opacity: 1;
            }

            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }

            &::before {
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               content: '';
               opacity: .7;
            }

            &--b {
               grid-row: 1 / 3;
               grid-column: 1 / 3;

               &::before {
                  background: linear-gradient(transparent, #ffc735);
               }
            }

            &--s-1 {
               grid-row: 1 / 2;
               grid-column: 3 / 4;

               &::before {
                  background: linear-gradient(transparent, #ff3535);
               }
            }

            &--s-2 {
               grid-row: 2 / 3;
               grid-column: 3 / 4;

               &::before {
                  background: linear-gradient(transparent, #35aaff);
               }
            }
         }

         @media (max-width: $breakpoint-md-max) {
            grid-template-rows: repeat(2, $base*25);
            grid-template-columns: repeat(3, $base*25);
            grid-gap: $base*2;
         }

         @media (max-width: 480px) {
            grid-template-rows: repeat(2, 45%);
            grid-template-columns: repeat(3, 30%);
         }
      }

      &-content {
         width: calc(50% - 26px);
         flex-grow: 1;
         margin-left: $base *5;

         @media (max-width: 767px) {
            width: 90%;
         }

         h3 {
            margin-bottom: $base * 7;
            font-size: 36px;
            color: #3d4f9f;

         }


         .text {
            margin-bottom: $base * 10;
            font-size: $fs-md;
            line-height: 2;
         }
      }

      // @media (max-width: $breakpoint-xs-max) {
      //align-items: flex-start;
      //}

      @media (max-width: 767px) {
         flex-direction: column;
         padding: 20px;

         &-content {
            position: relative;
            z-index: 5;
            margin-top: $base*6;
            margin-left: 0;

            h3 {
               margin-bottom: $base * 3;
            }
         }
      }
   }

   .swiper-button-prev {
      left: -50px;
      top: 55%;

      @media (max-width: 1024px) {
         left: 0;
      }
   }

   .swiper-button-next {
      right: -50px;
      top: 55%;

      @media (max-width: 1024px) {
         right: 0;
      }
   }
}

.btn-blog {
   position: absolute;
   top: 50%;
   display: block;
   width: $base*10;
   height: $base*10;
   background: url(../img/strelka.svg) no-repeat 50%, 50%;


   // &--prev {
   //    right: 100%;
   //    margin-right: $base * 16;
   //    transform: translateY(-50%);

   //    @media (max-width: 1200px) {
   //       right: 95%;
   //       margin-right: 0;
   //    }
   // }

   // &--next {
   //    left: 100%;
   //    transform: translateY(-50%) rotate(180deg);
   //    margin-left: $base * 16;

   //    @media (max-width: 1200px) {
   //       left: 95%;
   //       margin-left: 0;
   //    }
   // }

   // @media (max-width: $breakpoint-lg-max) {
   //  display: none;
   //}
}

// === / Blog ===


// === Quotes ===
.section-quotes {
   background-color: linear-gradient (#eaebff, #f6f9ff);
   overflow: hidden;

   .swiper-pagination {
      position: relative;
      margin-top: 40px;
      margin-left: -10px;
   }

   .section-inner {
      display: flex;
      justify-content: space-between;

      .section-subtitle {
         font-size: 36px;
         font-weight: $fw-medium;
      }

      @media (max-width: $breakpoint-xs-max) {
         flex-direction: column;
      }
   }

   &__left,
   &__right {
      width: 45%;
   }

   &__left {
      .text {
         line-height: 2;
      }

      @media (max-width: $breakpoint-xs-max) {
         margin-bottom: $base*10;
      }
   }

   //  &__right {
   //   position: relative;

   // .dots {
   //  bottom: 0 !important;
   //left: 50%;
   //  }
   // }
}

.slider-quotes-container {
   width: 50vw;
   margin: -50px 0 40px -50px !important;
   overflow: hidden;
}

.slider-quotes {
   @include list-null();

   display: flex;



   &__item {
      min-width: 25vw;
      padding: $base * 12;
      opacity: .5;
      box-sizing: border-box;
      transition: opacity $transition;

      &.swiper-slide-active {
         opacity: 1;
      }
   }
}

.slider-quotes-item-content {
   position: relative;
   padding: $base*10 $base*17 $base*15;
   background-color: #fff;
   border: 1px solid #d8e3fe;
   box-shadow: 0 $base $base*12 #d2d5dc;

   &__text {
      font-size: $fs-md;
      line-height: 2;
      color: #676f95;
   }

   &__photo {
      position: absolute;
      top: 100%;
      left: 50%;
      width: $base*15;
      $height: $base*15;
      overflow: hidden;
      border-radius: 100%;
      background-color: #fff;
      transform: translate(-50%, -$height/2);
   }
}

// === / Quotes  ===

// === FAQ ===
.section-faq {
   .section-inner {
      .section-subtitle {
         font-size: 24px;
         font-weight: $fw-medium;
      }
   }
}

.faq-accordion {
   @include list-null();

   &__item {
      $parent: &;
      border-bottom: 1px solid #d8e3fe;

      &--active {
         .arrow {
            stroke: #495274;
         }

         #{$parent}-trigger {
            &-icon {
               transform: rotate(0);
            }



            &-text {
               font-weight: $fw-bold;
               color: #8d96bd;
            }
         }

         #{$parent}-content {
            display: flex;
         }

         @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;

            &-text {
               margin-bottom: 10px;
            }

            &-btn {
               // order: -1;
               margin-left: 0;
            }
         }
      }

      &-trigger {
         display: flex;
         padding: $base*4;
         cursor: pointer;

         &-icon {
            width: $base*4;
            text-align: center;
            margin-right: $base*4;
            transform: rotate(180deg);

            .arrow {
               stroke: #8e96b7;
            }
         }

         &-text {
            font-size: $fs-md;
         }
      }

      &-content {
         display: none;
         padding: 0 $base*4 $base*4 $base*12;

         &-text {
            flex-grow: 1;
            font-size: $fs-md;
            line-height: 2;
         }

         &-btn {
            margin-left: $base*15;
         }

         @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;

            &-text {
               margin-bottom: $base * 2;
            }

            &-btn {
               margin-left: 0;
            }
         }
      }
   }
}




// === Get-started ===
.section-get-started {
   color: #fff;
   position: relative;
   text-align: center;
   // background: #6888ff url(../img/clouds.svg) no-repeat 50% 50%;
   //background: linear-gradient(transparent, #ffc735);
   background: linear-gradient(#6888ff, #5e80ff);

   &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      background: url(../img/clouds.svg) no-repeat 50% 50%;
      content: '';
   }

   .section-inner {
      position: relative;
      z-index: 10;

      h2 {
         color: white
      }

      .section-subtitle {
         font-weight: $fw-light;
         color: #fff;

         span {
            font-weight: $fw-medium;
         }
      }

      .text {
         margin: 0 auto $base*10;
         line-height: 2;

         @media (min-width: $breakpoint-sm-min) {
            max-width: 60%;
         }
      }
   }
}

// === / Get-started  ===

// === Newsletter  ===
.section-newsletter {
   background-color: #fcfdff;


   .section-inner {
      display: flex;
      justify-content: space-between;

      @media (max-width: $breakpoint-md-max) {
         flex-direction: column;
      }
   }

   &__left {
      flex-basis: 35%;

      &-title {
         @include quicksand();

         text-transform: none;
         font-size: 24px;
         font-weight: $fw-bold;
         color: #3d4f9f;
         margin-bottom: $base*4;
      }

      &-text {
         font-size: $fs-md;
         line-height: 2;
      }

      @media (max-width:$breakpoint-md-max) {
         margin-bottom: $base*5;
      }
   }

   &__right {
      flex-basis: 55%;
   }
}

.form-newsletter {
   display: flex;

   &__input {
      flex-grow: 1;
   }

   &__btn {
      margin-left: $base*3;
   }
}

// === / Newsletter ===

// === Footer ===
.section-footer {
   border-bottom: 0;

   .section-inner {
      //  padding-top: $padding-vertical-sm;
      //  padding-bottom: $padding-vertical-sm;
   }
}

.copyright {
   @include quicksand();

   margin-top: $base * 7;
   margin-left: $base * 24;
   font-size: $fs-sm;
   font-weight: $fw-medium;
   color: #aeb8d0;

   @media (max-width: $breakpoint-md-max) {
      margin-left: 0;
      text-align: center;
   }
}

// === / Stats ===